/* Profile.css */

body {
    margin: 0;
    padding: 0;
    background-color: #FBE3E0 !important;

    
    height: 100vh;
  }
  
  .profile-wrapper {
    position: relative;
    font-family: "Roboto";
    background: linear-gradient(to bottom, #fbe3e0, #ffc0c0 100%);
    border-radius: 25px;
  }
  
    
  .background-image {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    background-image: url('C:\Users\lenny\OneDrive\Desktop\HACK4GOON\goonapp\src\assets\hero.jpg');
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .achievements {
    margin-top: 5rem;
    display:flex !important; 
    text-align: center;
    background-color: white;
    border-radius: 25px;
    width: fit-content;
    justify-content: space-around;
  }
  .about-me-header {
    border-top: 1px black solid;
  }
  .about-me {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .exp-bar {
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .exp-progress {
    height: 100%;
    background-color: #ff462d; /* Adjust color as needed */
  }
  
.custom-avatar {
    width: 100px;
    height: 100px;
    margin: auto 0;
    border-radius: 50%;
    margin-top: 20px;

}
  