.input-wrapper {
    background-color: white;
    width: 90%;
    border-radius: 20px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

input:focus {
    outline: none;
}

#search-icon {
    color: black;
}

.input-wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.parent-wrapper {
    background-color: #ffe9e5;
    padding-top: 2rem;
}
.input-area {
    background-color: white;
}